:root {
    --accent-light: #c8d6e5;
    --main: #341f97;
    --body-text-dark: #222f3e;
    --body-text-light:#fff;
    --font-headers: 'Fira Sans',
        sans-serif;
    --font-body: 'Barlow',
        sans-serif;
}

h1, h2 {
    font-family: var(--font-headers);
    color: var(--main);
}

h3 {
    font-family: var(--font-body);
}


body {
    margin-top: 2em !important;
    font-family: var(--font-body);
    color: var(--body-text-dark);
}

/* Centers the weather app */
.body-wrapper {
    display: block;
    margin: auto;
}

/* Card title and temp */
/* Bootstrap item! */
.card-title {
    font-size: 46px;
}

/* Bootstrap item! */

.card {
    padding: 3em;
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--body-text-dark);
}

.search-icon {
    padding: inherit;
}

/* Bootstrap item! */
.input-group-text.search {
    background-color: var(--accent-light);
    
} 

.temp-icon {
    font-size: 60px;
    color: var(--main);
}


.current-temp {
    color: var(--body-text-dark);
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    padding: 0 0 0 30px;
    font-weight: 600;
}

.weekday-icon {
    font-size: 40px;
    text-align: center;
    color: var(--main);
}